.input-password {
    position: relative;

    .input-group-addon {
        position: absolute;
        height: 100%;
        display: flex;
        z-index: 1;
        width: 50px;
        background-color: #ccc;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #aaa;
        }
    }
}